<div id="featured">
{% if settings.show_slide_1 %}
    <a href="{{settings.slide_1_link}}">
		<img src="{{'slide_1.jpg' | asset_url}}" alt="{{settings.shop_tagline}}" width="960" height="{{settings.slide_height}}" />
		{% if settings.show_slide_1_caption %}
			<span class="caption {{settings.slide_1_caption_pos}}">{{settings.slide_1_caption}}</span>	
		{% endif %}
	</a>
{% endif %}
{% if settings.show_slide_2 %}
	<a href="{{settings.slide_2_link}}">
		<img src="{{'slide_2.jpg' | asset_url}}" alt="{{settings.shop_tagline}}" width="960" height="{{settings.slide_height}}" />
		{% if settings.show_slide_2_caption %}
			<span class="caption {{settings.slide_2_caption_pos}}">{{settings.slide_2_caption}}</span>	
		{% endif %}
	</a>
{% endif %}		
{% if settings.show_slide_3 %}
	<a href="{{settings.slide_3_link}}">
		<img src="{{'slide_3.jpg' | asset_url}}" alt="{{settings.shop_tagline}}" width="960" height="{{settings.slide_height}}" />
		{% if settings.show_slide_3_caption %}
			<span class="caption {{settings.slide_3_caption_pos}}">{{settings.slide_3_caption}}</span>	
		{% endif %}
	</a>
{% endif %}
{% if settings.show_slide_4 %}
	<a href="{{settings.slide_4_link}}">
		<img src="{{'slide_4.jpg' | asset_url}}" alt="{{settings.shop_tagline}}" width="960" height="{{settings.slide_height}}" />
		{% if settings.show_slide_4_caption %}
			<span class="caption {{settings.slide_4_caption_pos}}">{{settings.slide_4_caption}}</span>	
		{% endif %}
	</a>
{% endif %}
{% if settings.show_slide_5 %}
	<a href="{{settings.slide_5_link}}">
		<img src="{{'slide_5.jpg' | asset_url}}" alt="{{settings.shop_tagline}}" width="960" height="{{settings.slide_height}}" />
		{% if settings.show_slide_5_caption %}
			<span class="caption {{settings.slide_5_caption_pos}}">{{settings.slide_5_caption}}</span>	
		{% endif %}				
		</a>
{% endif %}
{% if settings.show_slide_6 %}
	<a href="{{settings.slide_6_link}}">
		<img src="{{'slide_6.jpg' | asset_url}}" alt="{{settings.shop_tagline}}" width="960" height="{{settings.slide_height}}" />
		{% if settings.show_slide_6_caption %}
			<span class="caption {{settings.slide_6_caption_pos}}">{{settings.slide_6_caption}}</span>	
		{% endif %}				
		</a>
{% endif %}		
{% if settings.show_slide_7 %}
	<a href="{{settings.slide_7_link}}">
		<img src="{{'slide_7.jpg' | asset_url}}" alt="{{settings.shop_tagline}}" width="960" height="{{settings.slide_height}}" />
		{% if settings.show_slide_7_caption %}
			<span class="caption {{settings.slide_7_caption_pos}}">{{settings.slide_7_caption}}</span>	
		{% endif %}				
		</a>
{% endif %}		
{% if settings.show_slide_8 %}
	<a href="{{settings.slide_8_link}}">
		<img src="{{'slide_8.jpg' | asset_url}}" alt="{{settings.shop_tagline}}" width="960" height="{{settings.slide_height}}" />
		{% if settings.show_slide_8_caption %}
			<span class="caption {{settings.slide_8_caption_pos}}">{{settings.slide_8_caption}}</span>	
		{% endif %}				
		</a>
{% endif %}		
{% if settings.show_slide_9 %}
	<a href="{{settings.slide_9_link}}">
		<img src="{{'slide_9.jpg' | asset_url}}" alt="{{settings.shop_tagline}}" width="960" height="{{settings.slide_height}}" />
		{% if settings.show_slide_9_caption %}
			<span class="caption {{settings.slide_9_caption_pos}}">{{settings.slide_9_caption}}</span>	
		{% endif %}				
		</a>
{% endif %}		
{% if settings.show_slide_10 %}
	<a href="{{settings.slide_10_link}}">
		<img src="{{'slide_10.jpg' | asset_url}}" alt="{{settings.shop_tagline}}" width="960" height="{{settings.slide_height}}" />
		{% if settings.show_slide_10_caption %}
			<span class="caption {{settings.slide_10_caption_pos}}">{{settings.slide_10_caption}}</span>	
		{% endif %}				
		</a>
{% endif %}		
</div>


