<div class="cart-wrapper">
	<div class="page-hero">
		<div class="page-hero-bg"></div>
		<div class="row">
			<div class="columns">
				<h1 class="page-title">Your Shopping Cart</h1>
			</div>
		</div>
	</div>
    
    {% if cart.item_count == 0 %}
		<div class="row">
			<div class="columns">
				<p><strong>Your shopping cart is empty.</strong></p>
			</div>
		</div>
    {% else %}
		<script type="text/javascript">
			var CartJSON = {{ cart | json }};
			var CartProductsHash = {};

			function updateLineItemQuantity(line_number, quantity)
			{
				CartJS.updateItem(line_number, quantity, {}, {
						'success': function(){ location.reload(); }
					});
			}

{% comment %} 			
			{% for item in cart.items %}
				CartProductsHash["{{item.product.id}}"] = {{ item.product | json }};
			{% endfor %}
 {% endcomment %}

			jQuery(function() {
				CartJS.init(CartJSON, {
					"requestBodyClass": "loading"
				});
			});
		</script>

		<div class="row">	
			<form action="/cart" method="post" id="cartform" class="columns">
			<ul class="cart-items">
				<li class="cart-row cart-head hide-for-small-only hide-for-medium-only">
					<div class="row">
						<div class="large-3 small-12 columns">
							Item Image
						</div>
						
						<div class="large-4 small-12 columns">
							Item Name
						</div>

						<div class="large-1 small-12 columns">
							Quantity
						</div>

						<div class="large-2 small-12 columns">
							Price
						</div>					                

						<div class="large-2 small-12 columns">
							Subtotal
						</div>
					</div>                          
				</li>	
				{% for item in cart.items %}
					<li class="cart-row">
						<div class="row">
							<div class="large-3 small-12 columns cart-image">					
								<div class="item">
									<a class="cart-image product" href="{{item.product.url}}">
										{{ item.product.featured_image |  product_img_url: 'compact' | img_tag }}
									</a>
								</div>
							</div>
							<div class="large-4 small-12 columns cart-description">
								<p>
									<a href="{{item.product.url}}" class="product-title">{{ item.product.title | escape }}</a>
								</p>

								{% if item.variant.option1 != 'Default' %}
								{% for i in (1..item.product.options.size) %}
									{% assign variant_option_key = 'option' | append: i %}
									{% assign variant_option_value = item.variant[variant_option_key] %}
									{% assign product_option_index = i | minus: 1 %}
									{% assign product_option_handle = item.product.options[product_option_index] | handleize %}
									{% if product_option_handle == 'color' %}
										{% capture color_image_name %}color-{{  variant_option_value | handleize }}.{{ file_extension }}{% endcapture %} 
										<p>
											<span class="swatch-element color">
												<label style="background-color: {{ variant_option_value | split: ' ' | last | handle }}; background-image: url({{ color_image_name | asset_url }})">
												</label>
											</span>
										</p>
									{% else %}
										<p class="option-{{ product_option_handle }}">{{ variant_option_value }}</p>
									{% endif %}
								{% endfor %}
								{% endif %}
							</div>

							<div class="large-1 small-12 columns cart-qty">
								<a href="javascript:void(0); updateLineItemQuantity({{ forloop.index }}, {{item.quantity}} + 1);">+</a>
								<span class="item-qty">{{item.quantity}}</span>
								<a href="javascript:void(0); updateLineItemQuantity({{ forloop.index }}, {{item.quantity}} - 1);">-</a>

							</div>	

							<div class="large-2 small-12 columns cart-price">
								{{ item.price | money }}
							</div>

							<div class="large-2 small-12 columns line-total">
								{{item.line_price | money }}
							</div>
						</div>           
					</li>				
				{% endfor %}			
				
				<li class="cart-row cart-foot">
					<div class="row">
						<div class="columns large-4 large-offset-8">
							<div class="sub-total">
								<div class="columns large-6">
									Subtotal
								</div>
								<div class="columns large-6">
									{{cart.total_price | money_with_currency }}
								</div>
							</div>
						</div>
					</div>
				</li>
				
				<li class="cart-row last">
					<div class="row">
						<div class="columns large-8 large-offset-4">
							<div class="cart-buttons">
								<div class="row column">
									<a href="/" class="button black columns large-6">Continue Shopping</a>		
									<input class="button columns large-6" type="submit" value="{{settings.checkout_text}}" name="checkout" />	
								</div>
							</div>
						</div>
					</div>					
				</li>
				</ul>
			</form>
		</div>
	{% endif %}
</div>