{% paginate collection.products by settings.paginate_products_by %}
<script>
    var params = Qs.parse(window.location.search.substr(1));
    var applied_filters = [];

    if(params.applied_filters)
    {
        applied_filters = params.applied_filters.split(" ");
    }

    function open_filter_menu()
    {
        $('#filter-options').show();
        $('filter-by-link').removeClass('closed');
    }

    function close_filter_menu()
    {
        $('#filter-options').show();
        $('filter-by-link').removeClass('closed');
    }

    function clear_filters()
    {
        applied_filters = [];
        refresh_filters();
        close_filter_menu();
    }

    function remove_filter(filter)
    {
        _.remove(applied_filters, function(element){
           return element == filter;
        });

        refresh_filters();
    }

    function refresh_filters()
    {
        $('.filter-menu li.selected').removeClass('selected');
        $('#selected-filters').html('');
        $('#filter-clear-link').hide();

        if(applied_filters.length > 0)
        {
            open_filter_menu();
            $('#filter-clear-link').show();
            $('#filter-by-link').goTo(-100);
            $('.product-item').hide();
        }else{
            $('.product-item').fadeIn();
        }

        _.map(applied_filters, function(element){
            $(`li[data-tag=${element}]`).addClass('selected');
            $(`.product-item.${element}`).fadeIn();
        });

        $('.filter-group .selected').each(function(index, element){
            var data_tag = $(element).data('tag');
            var href = $('a', element).attr('href');
            var text = $('a', element).attr('title').replace('Narrow selection to products matching tag ', '');
            text = text.replace('Remove tag ', '');
            text = text.replace('size-', '').replace('color-', '');
            $('#selected-filters').append(`<li data-tag="${data_tag}"><a href="javascript:void(0);" onclick="remove_filter('${data_tag}');"><i class="fa fa-times"></i> ${text}</a></li>`);
        });

        params.applied_filters = applied_filters.join('+');
        var href = window.location.href.split('?')[0];
        var query_string = _.replace(Qs.stringify(params), new RegExp("\%2B","g"), '+');
        window.history.pushState({},"", href + '?' + query_string);
    }

    function init_filter_events()
    {
        $('#filter-options .filter-menu li').on('click', function(){
            applied_filters = _.xor(applied_filters, [ $(this).data('tag') ]);
            $(this).toggleClass('selected');
            refresh_filters();

            return false;
        });

        $('#filter-clear-link').on('click', function(){
            clear_filters();
            refresh_filters();
            return false;
        });
    }

    jQuery(function($){
        refresh_filters();
        init_filter_events();
    });
</script>

<div id="collection">
    {% if collection.url != "" %}
        <div id="collection-description" class="text-center">
            <div class="row">
                <div class="columns">
                    <div class="title-box grid-x align-bottom">
                        <h1 class="page-title">
                            {{collection.title | escape }}
                        </h1>
                    </div>
                </div>
            </div>

            <div class="image-box grid-x align-middle align-center">
                <img src="{{ collection.image.src | collection_img_url }}" />
            </div>

            <div class="scroll-down-box">
                <p>
                    <a href="javascript: void(0)" id="scroll-down-button"></a>
                </p>
                <p>
                    <span>SCROLL DOWN</span>
                </p>
            </div>
        </div>
    {% endif %}
    
    <div id="page-scrollpoint"></div>

    <div class="breadcrumbs">
        <div class="row">
            <div class="columns">
                {% include 'breadcrumbs' %}    
            </div>
            {% if collection.products.size > 0 %}
                <div class="columns text-right">    
                    <span>{{collection.products.size}} Products</span>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="filters">
        <div class="row">
            <div class="columns grid-x align-middle">
                <a href="javascript: void(0);" id="filter-by-link" class="closed">
                    <img src="{{ 'igb-filter-icon.png' | asset_url }}">&nbsp;
                    FILTER BY 
                    &nbsp;&nbsp;&nbsp;
                    <img src="{{ 'igb-chevron-up.png' | asset_url }}" class="chevron-up">
                    <img src="{{ 'igb-chevron-down-small.png' | asset_url }}" class="chevron-down">
                </a>
                <a href="/collections/{{ collection.handle }}" id="filter-clear-link">CLEAR ALL</a>
            </div>
            <div class="columns grid-x align-middle align-right">
                {% include 'collection-sorting' %}
            </div>
        </div>
    </div>

    <div id="filter-options">
        <div class="row">
            <div class="columns">
                {% include 'filter-menu' %} 
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="columns">
        {% if collection.products.size < 1 %}
            <h2>Sorry, there are no products in this collection yet.</h2>
        {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="columns">
            <div class="product-collection">
                <div class="row">
                {% for product in collection.products %}
                    {% capture product_handlized_tags_string %}{% for tag in product.tags  %}{{ tag | | handleize }},{% endfor %}{% endcapture %}
                    {% assign product_handlized_tags = product_handlized_tags_string | split: ',' %}
                    <div class="product-item small-12 medium-6 large-3 columns {{ product_handlized_tags | join: ' '}}" data-tags="{{ product_handlized_tags | join: ' '}}">
                    {% include 'product-loop' %}
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">    
        {% if paginate.pages > 1 %}
            <div class="paginate paginate-bottom">
                {{ paginate | default_pagination }}
            </div>
        {% endif %}
    </div>

    <div class="bottom-buttons">
        <div class="row">
            <div class="columns text-left"><a href="javascript:void(0);" id="open-help-link"><img src="{{ 'igb-help-icon.png' | asset_url }}"></a></div>
            <div class="columns text-right"><a href="javascript:void(0);" id="scroll-top-link"><span></span></a></div>
        </div>
    </div>
</div>    
{% endpaginate %}
