<div class="home">
	<div class="row">
		<div class="columns">
			<h6>shop home</h6>
		</div>
	</div>

	<div class="row grid-x align-bottom">
		<div class="columns">
			<div class="collection">
				<div class="image">
					<img src="{{'category-1-image.jpg' | asset_url}}">
				</div>
				<div class="meta row">
					<div class="columns">{{ settings['category-1-name'] }}</div>
					<div class="columns text-right">
						<a href="">View More</a>
					</div>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="collection">
				<div class="image">
					<img src="{{'category-2-image.jpg' | asset_url}}">
				</div>
				<div class="meta row">
					<div class="columns">{{ settings['category-2-name'] }}</div>
					<div class="columns text-right">
						<a href="">View More</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row grid-x align-bottom">
		<div class="columns medium-8">
			<div class="collection">
				<div class="image">
					<img src="{{'category-3-image.jpg' | asset_url}}">
				</div>
				<div class="meta row">
					<div class="columns">{{ settings['category-3-name'] }}</div>
					<div class="columns text-right">
						<a href="">View More</a>
					</div>
				</div>
			</div>
		</div>
		<div class="columns medium-4">
			<div class="collection">
				<div class="image">
					<img src="{{'category-4-image.jpg' | asset_url}}">
				</div>
				<div class="meta row">
					<div class="columns">{{ settings['category-4-name'] }}</div>
					<div class="columns text-right">
						<a href="">View More</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
