{% if settings.show_home_collection %}
    <div class="twelve columns">
        {% if settings.home_collection_heading != "" %}<h3>{{settings.home_collection_heading}}</h3>{% endif %}
		<ul class="block-grid mobile {{settings.products_per_row}}-up product-collection">
            {% for product in collections.[settings.home_collection].products limit:settings.home_collection_no %}
			    {% include 'product-loop' %}
            {% endfor %}
		</ul>
	</div>
{% endif %}

{% if settings.show_home_collections %}
    <div class="twelve columns collection-list">
        {% if settings.home_collections_heading != "" %}<h3>{{settings.home_collections_heading}}</h3>{% endif %}
        <ul class="block-grid mobile {{settings.products_per_row}}-up product-collection">
            {% for link in linklists.[settings.home_collections_linklist].links limit:settings.home_collection_no %}
				{% if link.url contains '/collections/' %}
					{% capture coll_name %}{{link.url | remove:'/collections/' }}{% endcapture %}
					<li>
					{% capture collection_title %}{{ collections.[coll_name].title | escape }}{% endcapture %}
					<div class="product">
						<a href="{{ link.url }}" title="Browse our {{ collection_title }} collection">
						{{ collections.[coll_name].products.first.featured_image | product_img_url: 'medium' | img_tag: collection_title }}
                        <!--{{ collections.[coll_name].image.src | collection_img_url: 'medium' | img_tag: collection_title }}-->
						<span class="product-title">{{ collections.[coll_name].title | escape }}</span>
						</a>	  
					</div>
					</li>					
				{% endif %}
            {% endfor %}
		</ul>
	</div>
{% endif %}

{% if settings.show_home_text %}
<div class="twelve columns welcome-text">
    {{pages.[settings.home_text_page].content}}
</div>
{% endif %}
