<div id="product">
<div class="product-images">
	{% if product.images.size > 1 %}
		<div class="product-carousel">
				{% for image in product.images offset:1 %}
						<div class="carousel-cell text-center">
								<img src="{{ image | product_img_url: 'large'}}"/>
						</div>
				{% endfor %}
		</div>
	{% endif %}
</div>

<div class="stripe-bg-grey">
	<div class="product-title-box">
		<div class="row">
			<div class="columns medium-2">
			</div>
			<div class="columns medium-8">
				<h1 class="product-title page-title">{{ product.title | escape}}</h1>
			</div>
			<div class="columns medium-2">
			</div>
		</div>
	</div>

	<div class="product-description-box">
		<div class="row">
			<div class="columns">
				<div class="product-description">
						{{ product.description }}
				</div>
			</div>
			<div class="columns">
				<div class="add-to-cart-box">
					{% if product.available %}
						<form action="/cart/add" method="post" class="cartableProduct">
							<div id="product-variants">
								<fieldset>
									{% if product.variants.size == 1%}
										{% for variant in product.variants %}
											<div id="price-field">{% if product.compare_at_price and product.compare_at_price > variant.price %}<del>{{product.compare_at_price | money}}</del> {% endif %}{{ variant.price | money }}</div>
											<input type="hidden" name="id" value="{{ variant.id }}" />
										{% endfor %}
									{% else %}
										{% assign multi_options = true %}
										<div id="price-field"></div>
										<select id="product-select" name='id'>
										{% for variant in product.variants %}
											<option value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}</option>
										{% endfor %}
										</select>
									{% endif %}
								</fieldset>
							</div>
							{% if settings.show_qty %}
							<p class="qty-field"><label for="product-quantity-{{product.id}}">Qty:</label>
								<input class="product-qty" type="text" id="product-quantity-{{product.id}}" name="quantity" value="1" />
							</p>
							{% endif %}
							<button type="submit" id="purchase" class="button nice">{{settings.prd_button_text}}</button>
						</form>
					{% else %}
						<p><strong>{{settings.prd_out_stock_msg}}</strong></p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>	
</div>		

{% if settings.show_related %}
{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
    {% assign found_a_collection = false %}
    {% for c in product.collections %}
    	{% if found_a_collection == false and c.handle != 'popular-product' and c.handle != 'frontpage' and c.handle != 'all' %}
			{% assign found_a_collection = true %}
			{% assign collection = c %}
		{% endif %}
	{% endfor %}
{% endif %}
{% endif %}

{% if collection and collection.products.size > 1 %}
<div class="row">
    <div id="related">
    	<h3>{{settings.related_heading}}</h3>
        {% assign max_items = '' %}
		<ul class="block-grid mobile five-up product-collection">
			{% for prd in collection.products %}
				{% if prd.handle != product.handle and max_items != '*****' %}
					<li>
					<div class="product">
						<a title="{{ prd.title | escape }}" href="{{ prd.url }}"><span class="thumbnail"><img alt="{{ prd.images.first.alt | escape }}" src="{{ prd.images.first | product_img_url: 'medium' }}"></span>
						<span class="price">{% if prd.price_varies %}<em>from </em>{% endif%}{{prd.price | money}}</span> 
						<span class="product-title">{{ prd.title | escape }}</span>
						{% if prd.compare_at_price %}
							<span class="sale-item">Sale</span> 					
						{% endif %}
						</a>
					</div>
					</li>
                    {% capture max_items %}{{max_items}}*{% endcapture %}
				{% endif %}
			{% endfor %}
		</ul>		
	</div>	
{% endif %}
</div>