<div id="cartModal" class="reveal" data-reveal>
	<div class="text-right">
		<a href="javascript: void(0);" onclick="$('#cartModal').foundation('close');"><i class='fa fa-times'></i></a>
	</div>
  <h2 id="cartModalTitle">Your Shopping Cart</h2>
	{% raw %}
		<div v-if="cart.items.length > 0">
			<div v-for="item in cart.items" class="cart-item">
				<div class="row">
					<div class="medium-4 columns">
						<img v-bind:src="item.image" width="100%">
					</div>
					<div class="medium-8 columns">
						<div class="product-title"><a v-bind:href="item.url">{{ item.product_title }}</a></div>
						<div class="variant-title">{{ item.variant_title }}</div>
						<div class="quantity">QTY: {{ item.quantity }}</div>	
						<div class="quantity">Price: ${{ item.price / 100.0 }}</div>
						<div class="action">
							<a href="javascript:void(0);" v-on:click="removeItem(item);">
								<i class="fa fa-times"></i> Remove
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div v-else>
			<p>Your cart is empty</p>
		</div>

		<div class="total text-right">
			<p>TOTAL ${{ cart.total_price / 100.0 }}</p>
		</div>

		<div class="actions">
			<p>
				<a href="/cart" class="button black">View Cart</a>
			</p>
			<p>
				<a href="javascript: void(0);" 
						onclick="$('#cartModal').foundation('close');"
						class="button black">Continue Shopping</a>
			</p>
		</div>
	{% endraw %}
</div>

<script>
var cartModal = new Vue({
  el: '#cartModal',
  data: {
    cart: {{ cart | json }}
  },
	methods: {
    load: function () {
     CartJS.getCart().then(function(res){
			 cartModal.cart = res;
		 });
    },
		removeItem: function(item){
			CartJS.removeItemById(item.id).then(function(res){
				cartModal.cart = res;	
			});
		}
  }
});
</script>

<div id="product">
	<div class="product-images">
		{% if product.images.size > 1 %}
			<div class="product-carousel">
					{% for image in product.images offset:1 %}
							<div class="carousel-cell text-center">
									<img src="{{ image | product_img_url: 'large'}}"/>
							</div>
					{% endfor %}
			</div>
		{% endif %}
	</div>

	<div class="product-main-box">
		<div class="product-title-box">
			<div class="row">
				<div class="columns medium-2">
					{% if product.available and product.variants.size > 1 %}
						{% include 'swatch-color' %}
					{% endif %}
				</div>
				<div class="columns medium-8">
					<h1 class="product-title text-center">{{ product.title | escape}}</h1>
				</div>
				<div class="columns medium-2">
					<div class="heading text-right"><div id="price-field"></div></div>
				</div>
			</div>
		</div>

		<div class="product-description-box">
			<div class="row">
				<div class="columns medium-6 small-12">
					<div class="product-description">
							{{ product.description }}
					</div>
				</div>
				<div class="columns medium-6 small-12">
					<div class="add-to-cart-box">
						{% if product.available %}
							<form action="/cart/add" method="post" class="cartableProduct">
								{% if product.available and product.variants.size > 1 %}
										{% include 'swatch' with 'Color' %}
								{% endif %}
								<div class="product-options">
									<div class="row">
										<div class="columns">
											<div id="product-variants">
													<div id="options">
														{% if product.variants.size == 1%}
															{% for variant in product.variants %}
																<div id="price-field">{% if product.compare_at_price and product.compare_at_price > variant.price %}<del>{{product.compare_at_price | money}}</del> {% endif %}{{ variant.price | money }}</div>
																<input type="hidden" name="id" value="{{ variant.id }}" />
															{% endfor %}
														{% else %}
															{% assign multi_options = true %}
															<div id="price-field"></div>
															<select id="product-select" name='id'>
															{% for variant in product.variants %}
																<option value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}</option>
															{% endfor %}
															</select>
														{% endif %}
													</div>
											</div>
										</div>
										<div class="columns">
											{% if settings.show_qty %}
											<div class="qty-field"><label for="product-quantity-{{product.id}}">Qty:</label>
												<input class="product-qty" type="text" id="product-quantity-{{product.id}}" name="quantity" value="1" />
											</div>
											{% endif %}
										</div>
									</div>
								</div>
								<div class="product-submit">
									<button type="submit" id="purchase" class="button nice">{{settings.prd_button_text}}</button>
								</div>
							</form>
						{% else %}
							<p><strong>{{settings.prd_out_stock_msg}}</strong></p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>	
	</div>		

	{% include 'product-promotion' %}

	{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
			{% assign found_a_collection = false %}
			{% for c in product.collections %}
				{% if found_a_collection == false and c.handle != 'popular-product' and c.handle != 'frontpage' and c.handle != 'all' %}
				{% assign found_a_collection = true %}
				{% assign collection = c %}
			{% endif %}
		{% endfor %}
	{% endif %}

	{% if collection and collection.products.size > 1 %}
		<div id="related">
			<div class="row">
				<div class="columns">
					<h3 class="heading">RECOMMENDED FOR YOU</h3>
				</div>
			</div>
			
			{% assign max_items = '' %}
			<div class="product-collection">
				<div class="row">
				{% for prd in collection.products %}
					{% if prd.handle != product.handle and max_items != '***' %}
						<div class="columns small-6 medium-4 grid-x align-bottom">
						<div class="related-product">
							<div class="related-product-image-box grid-x align-middle align-center">
								<a title="{{ prd.title | escape }}" href="{{ prd.url }}">
									<span class="thumbnail">
									<img alt="{{ prd.images.first.alt | escape }}" src="{{ prd.images.first | product_img_url: 'original' }}">
									</span>
								</a>
							</div>
							<div class="related-product-title-box text-center">
								<a title="{{ prd.title | escape }}" href="{{ prd.url }}">
									<span class="product-title">{{ prd.title | escape }}</span>
								</a>
							</div>
							<div class="related-product-price-box text-center">
								<span class="price">{% if prd.price_varies %}<em>from </em>{% endif%}{{prd.price | money}}</span> 
								
								{% assign option_index = 0 %}
								{% assign found_option = false %}

								{% for option in prd.options %}
									{% if option == 'Color' %}
										{% assign option_index = forloop.index0 %}
										{% assign found_option = true %}
										<span class="spliter">|</span>
									{% endif %}
								{% endfor %}

								{% if found_option %}
									{% assign values = '' %}
									{% for variant in prd.variants %}
										{% assign value = variant.options[option_index] %}
										{% unless values contains value %}
											{% assign values = values | join: ',' %}
											{% assign values = values | append: ',' | append: value %} 
											{% assign values = values | split: ',' %}
										{% endunless %}
									{% endfor %}

									<span>{{ values | size }} colors</span>
								{% endif %}
								
							</div>							
						</div>
						</div>
						{% capture max_items %}{{max_items}}*{% endcapture %}
					{% endif %}
				{% endfor %}
				</div>
			</div>		
		</div>	
	{%endif%}

	<script>
	var productOptions = [];
	{% for option in product.options %}
		var optionObj = {};
		optionObj[ {{ forloop.index0 }} ] = "{{ product.options[forloop.index0] }}";
		productOptions.push(optionObj);
	{% endfor %}
	</script>
</div>

{% include 'ajaxify-cart' %}