<div id="featured" class="home-carousel">

		{% for i in (1..10) %}
				{% capture show_slide %}show_slide_{{i}}{% endcapture %}
				{% capture slide_link %}slide_{{i}}_link{% endcapture %}
				{% capture show_slide_caption %}show_slide_{{i}}_caption{% endcapture %}
				{% capture slide_caption_pos %}slide_caption_{{i}}_pos{% endcapture %}
				{% capture slide_caption %}slide_{{i}}_caption{% endcapture %}
				{% capture slide_image_url %}slide_{{i}}.jpg{% endcapture %}
				
				{% if settings[show_slide] %}
					<div class="carousel-cell">
						<a href="{{settings[slide_link]}}">
							<img src="{{ slide_image_url | asset_url}}" alt="{{settings.shop_tagline}}" width="100%" height="{{settings.slide_height}}" />
							{% if settings[show_slide_caption] %}
								<span class="caption {{settings[slide_caption_pos]}}">{{settings[slide_caption]}}</span>	
							{% endif %}
						</a>
					</div>
				{% endif %}		
		{% endfor %}
</div>


